<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Create Client </title>
  <link rel="stylesheet" href="edit-client.component.css">
</head>
<body>
    <div *ngIf="isEditModalVisible" class="modal">
        <div class="modal-content">
            <form (ngSubmit)="editClient()"> 
                <div class="content">
                    <label for="name">Edit Client Name: </label>
                    <input for="name" type="text" name="name" [(ngModel)]="client.name" required>
                </div>
                <div class="content">
                    <label for="phone">Edit Client Phone: </label>
                    <input for="phone" type="text" name="phone" [(ngModel)]="client.phone" required>
                </div>
                <div class="content">
                    <label for="email">Edit Client Email: </label>
                    <input for="email" type="text" name="email" [(ngModel)]="client.email" [(ngModel)]="client.email" required>
                </div>
                <div class="buttons">
                    <button type="submit">Update</button>
                    <button (click)="closeEditModal()" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>