.background {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/assets/Image/client-meeting-background.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
}

h2, h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
}

.meeting-list {
    display: flex; /* Make the container flex */
    flex-wrap: wrap; /* Wrap the items */
    justify-content: space-between; /* Center the items horizontally */
    padding-left: 15px;
}

.meeting-list ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    flex-wrap: wrap; /* Wrap the items */
    display: flex;
    justify-content: space-between;
}

.meeting-list li {
    margin-left: 0px 0px 25px 0px; 
}