<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Edit Meeting </title>
  <link rel="stylesheet" href="edit-meeting.component.css">
</head>
<body>
    <div *ngIf="isEditMeetingModalVisible" class="modal">
        <div class="modal-content">
            <form (ngSubmit)="editMeeting()">
                <div class="content">
                    <label for="clientName">Client Name: </label>
                    <input for="clientName" name="Name" [(ngModel)]="meeting.clientName" required>
                </div>
    
                <div class="content">
                    <label for="meetingDate">Date: </label>
                    <input for="meetingDate" type="date" name="meetingDate" [(ngModel)]="meeting.Date" required>
                </div>
                
                <div class="content">
                    <label for="meetingTime">Time: </label>
                    <input for="meetingTime" type="time" name="meetingTime" [(ngModel)]="meeting.Time" required>
                </div>
                
                <div class="content">
                    <label for="clientID">Client ID: </label>
                    <input for="clientID" type="number" name="clientID" [(ngModel)]="meeting.clientID" required disabled>
                </div>
                
                <div class="content">
                    <label for="meetingAgenda">Meeting Agenda: </label>
                    <input for="meetingAgenda" type="text" name="meetingAgenda" [(ngModel)]="meeting.Agenda" required>
                </div>
                
                <div class="buttons">
                    <button type="submit">Update</button>
                    <button (click)="closeEditMeetingModal()" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>