<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
    <link rel="stylesheet" href="login.component.css">
    <base href="/">
  </head>

  <body>
    <div class="background">
      <div class="content">
        <form (submit)="login()">
            <h2 font-family: Arial>Henna Solutions Login</h2>
            <p><input type="text" class="input" name="email" [(ngModel)]="email" placeholder="Email" required></p>
            <p><input type="password" class="input" name="password" [(ngModel)]="password" placeholder="Password" required></p>
            <div class = "links">
              <p class="link">Don't have an account?<a routerLink="/sign-up">Sign Up.</a></p>
              <p class="link"><a routerLink="/forgot-password">Forgot Password?</a></p>
            </div>
            <button type="submit" class="button" >Login</button>
        </form>
      </div>
    </div>
  </body>
</html>