<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin Menu</title>
        <link rel="stylesheet" href="menu.component.css">
        <base href="/">
    </head>
    <body> 
        <div class="slider"> 
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            
            <div class="slides">        
                <div class="first-slide">
                    <h1>Projects</h1>
                </div>
                <div class="second-slide">
                    <h1>Clients</h1>
                </div>
                <div class="third-slide">
                    <h1>Meetings</h1>
                </div>
                <div class="fourth-slide">
                    <h1>Inquieries</h1>
                </div>
        
                <div class="auto-navigation">
                    <div class="auto-projects"></div>
                    <div class="auto-clients"></div>
                    <div class="auto-meetings"></div>
                    <div class="auto-inquiries"></div>
                </div>
        
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>
        </div>
    </body>
</html>

<!--<div class="projects">
                <h1>Projects</h1>
            </div>
            <div class="clients">
                <h1>Clients</h1>
            </div>
            <div class="meetings">
                <h1>Meetings</h1>
            </div>
            <div class="inquiries">
                <h1>Inquieries</h1>
            </div>-->