body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23E3C9;
}

.slider {
    width: 70%;
    height: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 50%;
    display: flex; /* make the slides appear next to each other */
    transition: transform 2s; /* for animation */
}

.slider input {
    position: absolute;
    bottom: 10px; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}

.slide{
    width: 20%;
}

.first-slide, .second-slide, .third-slide, .fourth-slide {
    width: 800px;
    height: 500px;
    background-color: orangered;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.manual-navigation {
    position: absolute;
    bottom: 15%; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}

.manual-btn {
    border: 2px solid #40D3DC;
    width: 5px;
    height: 5px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    display: inline-block;
}

.manual-btn:hover{
    background-color: #40D3DC;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .slides {
    transform: translateX(0);
}

#radio2:checked ~ .slides {
    transform: translateX(-21%);
}

#radio3:checked ~ .slides {
    transform: translateX(-42%);
}

#radio4:checked ~ .slides {
    transform: translateX(-63%);
}