<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
    <link rel="stylesheet" href="app.component.css">
    <base href="/">
  </head>

  <body>
    <div class="background" role="presentation">
      <div class="content" role="main">

        <div class="left">
          <img class="logo" src="/assets/Image/logo.png" alt="logo">
          <h2 class="hey">Hey</h2>
          <h2>Welcome To Henna Solutions</h2>
        </div>

        <div class="right">
          <form>
            <h2 class="form-title">Login</h2>
            <div class="form-content">
              <p><input type="text" class="input" placeholder="Email" required></p>
              <p><input type="password" class="input" placeholder="Password" required></p>
              <div class = "links">
                <p class="link">Don't have an account?<a routerLink="/sign-up">Sign Up.</a></p>
                <p class="link"><a routerLink="/forgot-password">Forgot Password?</a></p>
                <p><a routerLink="/client-management">Client Management</a></p>
                <p><a routerLink="/client-meeting-management">Client Meeting Management</a></p>
              </div>
              <button type="submit" class="button">Login</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </body>
  <router-outlet></router-outlet>
</html>