<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
    <link rel="stylesheet" href="app.component.css">
  </head>

  <body>
    <div class="background" role="presentation">
      <div class="content" role="main">
        <div class="left">
          <img src="Image/logo.png" alt="logo">
          <h1>Welcome To Henna Solutions</h1>
          <div class="signup">
            <p>Don't have an account?<a href="Login">Sign Up.</a></p>
            <button type="button">Sign Up</button>
          </div>
        </div>
        <div class="right">
          <form class = "login">
            <h2>Login</h2>
            <p><input type="text" placeholder="Email"></p>
            <p><input type="password" placeholder="Password"></p>
            <button type="button" click="authenticate">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
