<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Create Meeting </title>
  <link rel="stylesheet" href="create-meeting.component.css">
</head>
<body>
    <div *ngIf="isClientModalVisible" class="modal">
        <div class="modal-content">
            <form (ngSubmit)="addClientMeeting()">
                <!--<div class="content">
                    <label for="clientName">Client Name: </label>
                    <input for="clientName" type="text" name="clientName" [(ngModel)]="clientName" required>
                </div>-->
                <div class="content">
                    <label for="clientName">Client Name: </label>
                    <!--(change) event is fired when a client is selected, triggering onClientChange($event) method-->
                    <!--selectedClient model is then updated with the value client.id of the selected option-->
                    <select [(ngModel)]="selectedClient" (change)="onClientChange($event)" name="Name" required>
                    <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
                    </select>
                </div>
    
                <div class="content">
                    <label for="meetingDate">Date: </label>
                    <input for="meetingDate" type="date" name="meetingDate" [(ngModel)]="Date" required>
                </div>
                
                <div class="content">
                    <label for="meetingTime">Time: </label>
                    <input for="meetingTime" type="time" name="meetingTime" [(ngModel)]="Time" required>
                </div>
                
                <div class="content">
                    <label for="clientID">Client ID: </label>
                    <input for="clientID" type="number" name="clientID" [(ngModel)]="clientID" required disabled0>
                </div>
                
                <div class="content">
                    <label for="meetingAgenda">Meeting Agenda: </label>
                    <input for="meetingAgenda" type="text" name="meetingAgenda" [(ngModel)]="Agenda" required>
                </div>
                
                <div class="buttons">
                    <button type="submit">Submit</button>
                    <button (click)="closeClientModal()" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>