<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Create Meeting </title>
  <link rel="stylesheet" href="create-meeting.component.css">
</head>
<body>
    <div *ngIf="isClientModalVisible" class="modal">
        <div class="modal-content">
            <form (ngSubmit)="addClientMeeting()">
                <div class="content">
                    <label for="clientName">Client Name: </label>
                    <input for="clientName" type="text" name="clientName" [(ngModel)]="clientName" required>
                </div>
    
                <div class="content">
                    <label for="meetingDate">Date: </label>
                    <input for="meetingDate" type="date" name="meetingDate" [(ngModel)]="Date" required>
                </div>
                
                <div class="content">
                    <label for="meetingTime">Time: </label>
                    <input for="meetingTime" type="time" name="meetingTime" [(ngModel)]="Time" required>
                </div>
                
                <div class="content">
                    <label for="clientID">Client ID: </label>
                    <input for="clientID" type="number" name="clientID" [(ngModel)]="clientID" required>
                </div>
                
                <div class="content">
                    <label for="meetingAgenda">Meeting Agenda: </label>
                    <input for="meetingAgenda" type="text" name="meetingAgenda" [(ngModel)]="Agenda" required>
                </div>
                
                <div class="buttons">
                    <button type="submit">Submit</button>
                    <button (click)="closeClientModal()" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>