.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
    max-width: 600px;
    height: 60%;
}

.modal input {
    margin: 2%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 90%;
}

.modal label {
    padding: 10px;
    font-size: 18px;
    margin: 5% 2% 0% 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    background-color: rgb(111, 184, 111);
    transition: 0.5s;
}

.modal button:hover{
    background: green;
    cursor: pointer;
}