.modal {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex; /* Make the input fields on top of eachother */
    flex-direction: column; /* Make the input fields on top of eachother */
    justify-content: center; /* Center the input fields */
    background-color: white;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
}

.modal input {
    margin: 10px 10px 10px 0;
    padding: 10px 10px 10px 0;
    border-radius: 5px;
    border: 1px solid black;
}

.modal label {
    padding: 10px;
    font-size: 18px;
    margin: 5% 2% 0% 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modal button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    border: none;
    background-color: rgb(111, 184, 111);
    cursor: pointer;
}