<head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
    <link rel="stylesheet" href="admin.component.css">
    <base href="/">
</head>
<body>
    <app-admin-nav-bar></app-admin-nav-bar>
    <div class="container">
        <div class="projects">
            <h1>Projects</h1>
            <!--<button (click) = getProjects()>Get Projects</button>-->
        </div>
        <div class="clients">
            <h1>Clients</h1>
        </div>
        <div class="meetings">
            <h1>Meetings</h1>
        </div>
        <div class="inquiries">
            <h1>Inquieries</h1>
        </div>
    </div>
</body>
