<head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
    <link rel="stylesheet" href="admin.component.css">
    <base href="/">
</head>
<body>
    <nav>
        <div class="nav">
            <img class="logo" src="/assets/Image/logo.png" alt="logo">
            <div class="nav-links">
                <a routerLink="/admin/profile">Profile</a>
                <a routerLink="/admin/payroll">Payroll</a>
                <a routerLink="/client-management">Manage Clients</a>
                <a routerLink="/client-meeting-management">Client Meetings</a>
                <a routerLink="/logout">Logout</a>
            </div>
        </div>
    </nav>
</body>