<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="admin-nav-bar.component.css">
    <base href="/">
</head>
<body>
    <nav>
        <div class="nav">
            <img class="logo" src="/assets/Image/logo.png" alt="logo">
            <div class="nav-links">
                <a (click)="closeModals()" routerLink="/client-management">View Clients</a>
                <a (click)="closeModals()" routerLink="/client-meeting-management">Client Meetings</a>
                <a (click)="openCreateClientModal()">Create Client</a>
                <a (click)="openCreateMeetingModal()">Create Meeting</a>
                <a routerLink="/">Logout</a>
            </div>
        </div>
    </nav>
    <app-create-client></app-create-client>
    <app-edit-client></app-edit-client>
    <app-create-meeting></app-create-meeting>
    <app-edit-meeting></app-edit-meeting>
</body>