<head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
    <link rel="stylesheet" href="admin-nav-bar.component.css">
    <base href="/">
</head>
<body>
    <nav>
        <div class="nav">
            <img class="logo" src="/assets/Image/logo.png" alt="logo">
            <div class="nav-links">
                <a routerLink="/admin">Home</a>
                <a routerLink="/client-management">View Clients</a>
                <a routerLink="/client-meeting-management">Client Meetings</a>
                <a (click)="openModal()">Create Client</a>
                <a (click)="openClientModal()">Create Meeting</a>
                <a routerLink="/">Logout</a>
            </div>
        </div>
    </nav>
</body>