.main {
  width: 350px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  border-radius: 15px;
  border: 1px solid #ffffff40;
  margin: 20px 0px 20px 0px; 
  padding: 10px;
  max-width: 350px;
  min-width: 300px;
  max-height: 450px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.data h2 {
  font-size: 33px;
  font-weight: 600;
}
span {
  font-size: 18px;
}
.row {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.row .info {
  text-align: center;
  padding: 0 20px;
}
.buttons {
  display: flex;
  align-items: center;
  margin-top: 65px;
}
.buttons .btn {
  color: #fff;
  text-decoration: none;
  margin: 0 20px; 
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 15px;
  white-space: nowrap;
  background-color: rgb(111, 184, 111);
  transition: 0.5s;
}
.buttons .btn:hover {
    background: green;
    cursor: pointer;
}