<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Profle Card UI Design | CoderGirl </title>
  <link rel="stylesheet" href="meeting.component.css">
</head>
<body>
    <div class="main">
        <div class="contents">
            <h2>Meeting with {{meeting.clientName}}</h2>
            <p>Client ID: {{meeting.clientID}}</p>
            <p>Meeting Date: {{meeting.Date}}</p>
            <p>Meeting Time: {{meeting.Time}}</p>
            <p>Meeting ID: {{meeting.id}}</p>
            <p>Meeting Notes: {{meeting.Agenda}}</p>
        </div>
    </div>
</body>