<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Client Meeting Card </title>
  <link rel="stylesheet" href="meeting.component.css">
</head>
<body>
    <section class="main">
        <div class="meeting-card">
            <div class="contents">
                <h2>Meeting with {{meeting.client_name}}</h2>
                <p>Client ID: {{meeting.client_id}}</p>
                <p>Meeting Date: {{meeting.date}}</p>
                <p>Meeting Time: {{meeting.time}}</p>
                <p>Meeting ID: {{meeting.id}}</p>
                <p>Meeting Notes: {{meeting.agenda}}</p>
            </div>
            <div class="buttons">
                <button (click)="editMeeting()" class="btn">Edit</button>
                <button (click)="deleteMeeting()" class="btn">Delete</button>
            </div>
        </div>
    </section>
</body>